<div id="informations_configure">
    {{> block_informations/configuration_form }}

    <div class="mt-5">
        <h4>{{#str}} licences, block_informations {{/str}}</h4>
        {{> block_informations/configure_licences_list }}
    </div>
</div>