<form id="cartridge-registration-form" class="form-horizontal">
    {{! CC licence name }}
    <div class="control-group">
        <div class ="control-label">
            <label for="registration-secret">{{#str}} cc_licence_name, block_informations {{/str}}</label>
            {{#namehelp}}
                {{>core/help_icon}}
            {{/namehelp}}
        </div>
        <div class="controls">
            <input name="cc-licence-name"
                class="input-block-level form-control"
                type="text"
                id="cc-licence-name">
        </div>
    </div>
    {{! CC licence URL }}
    <div class="control-group">
        <div class="control-label">
            <label for="registration-key">{{#str}} cc_licence_url, block_informations {{/str}}</label>
            {{#licencehelp}}
                {{>core/help_icon}}
            {{/licencehelp}}
        </div>
        <div class="controls">
            <input name="cc-licence-url"
                class="input-block-level form-control"
                type="text"
                id="cc-licence-url">
        </div>
    </div>
    {{! CC image URL }}
    <div class="control-group">
        <div class ="control-label">
            <label for="registration-secret">{{#str}} cc_image_url, block_informations {{/str}}</label>
            {{#imagehelp}}
                {{>core/help_icon}}
            {{/imagehelp}}
        </div>
        <div class="controls">
            <input name="cc-image-url"
                class="input-block-level form-control"
                type="text"
                id="cc-image-url">
        </div>
    </div>
    {{! Categories }}
    <div class="control-group">
        <div class="control-label">
            <label for="registration-key">{{#str}} available_categories, block_informations {{/str}}</label>
        </div>
        <div class="controls">
            <select class="input-block-level form-control" name="categoryid">
            {{#categories}}
                <option value="{{{ id }}}">[{{{ id }}}] {{ name }}</option>
            {{/categories}}
            </select>
        </div>
    </div>
    {{! Submit }}
    <div class="control-group mt-3">
        <div class="controls">
            <button id="cartridge-registration-submit" type="submit" class="btn btn-success">
                <span class="btn-text">{{#str}} savechanges {{/str}}</span>
            </button>
        </div>
    </div>
</form>
